.screen {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.screen-desc {
  height: 50%;
}

.stack-list i {
  font-size: 1.5rem;
  margin: 0.3rem;
  background-color: #fff;
  border-radius: 100%;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
}
