/* left-door */
.door-left {
  left: 0;
}

.door-left-enter {
  left: 0;
}

.door-left-enter-active,
.door-left-enter-done {
  left: -50%;
}

.door-left-exit {
  left: -50%;
}

.door-left-exit-active,
.door-left-exit-done {
  left: 0;
}

/* right-door */
.door-right {
  right: 0;
}
.door-right-enter {
  right: 0;
}

.door-right-enter-active,
.door-right-enter-done {
  right: -50%;
}

.door-right-exit {
  right: -50%;
}

.door-right-exit-active,
.door-right-exit-done {
  right: 0;
}
