@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.background {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.main-container {
  width: 90%;
  height: 90vh;
  margin: 5vh auto 0 auto;
  text-align: center;
  position: relative;
  background-color: #b4b4b4;
}

.bottom {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}

.floor-sign {
  border: solid 2px #cccccc;
  width: 50%;
  height: 13vh;
  left: 25%;
  top: 1%;
  position: absolute;
}

.navigation {
  width: 15%;
  border: solid 2px #cccccc;
  height: 50vh;
  margin: 1rem;
  align-self: flex-start;
}
.top {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 15vh;
  position: absolute;
}
